:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #000000;
  --color-bg-base: #000000;
  --color-bg-surface: #000000;
  --color-bg-highlight: #000000;
  --color-fg-shade: #58556B;
  --color-fg-base: #6E6A86;
  --color-fg-surface: #87839D;
  --color-fg-highlight: #A19EB2;
  --color-primary-bg: #183A48;
  --color-primary-base: #31748F;
  --color-primary-fg: #5AA7C6;
  --color-secondary-bg: #98153A;
  --color-secondary-base: #EB6F92;
  --color-secondary-fg: #f6c177;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Raleway;
  --font-size: 1.2;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1200px;
  --surface-shadow: 7px 7px 2px rgb(24, 58, 72), 14px 14px 2px rgb(49.6, 50.6, 69.2), 21px 21px 2px rgb(75.2, 43.2, 66.4), 28px 28px 2px rgb(100.80000000000001, 35.8, 63.6), 35px 35px 2px rgb(126.4, 28.4, 60.8), 42px 42px 2px rgb(152, 21, 58);
  --surface-borderRadius: 20px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
