@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #111111;
  --color-bg-base: #151515;
  --color-bg-surface: #191919;
  --color-bg-highlight: #1D1D1D;
  --color-fg-shade: #CEBEBE;
  --color-fg-base: #F9F7F7;
  --color-fg-surface: #FFFFFF;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #005466;
  --color-primary-base: #00A8CC;
  --color-primary-fg: #33DBFF;
  --color-secondary-bg: #451371;
  --color-secondary-base: #892CDC;
  --color-secondary-fg: #C89DEF;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  /* --font-family: Roboto; */
  --font-family: 'Quicksand', sans-serif;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1280px;
  --surface-shadow: 20px 20px 10px #005466;
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 5;
}
